//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.boxed-content {

	article:not(.card) {

		&.post-content {
			@include grid-media($tablet-portrait-up) {
				font-size: $font__body-size-tablet;
			}
		}
	}
}

.site-content {
	@include clearfix;
	
	overflow: initial;
}

// Blog post date.
.posted-on {

	a {
		border-bottom: none !important;
	}
}
