//--------------------------------------------------------------
// GRID
//--------------------------------------------------------------

// Makes a section extend the full width of the viewport.
.full-width {
	@include full-width;
}

.module {
	padding: $size__padding * 3 $size__padding $size__padding * 4;

	@include grid-media($tablet-portrait-up) {
		padding: $size__padding * 4 $size__padding $size__padding * 5;
	}
}

.row {
	@include center;

	max-width: 100%;
	width: $size__layout-boxed-content;
}

//-----------------------------------------
// Grid One, Two, Three
//
// Post cards are 100% on phone (1-up),
// 2 columns on tablet-portrait, and
// 3 columns on tablet-landscape.
//-----------------------------------------
.grid--one-two-three {
	@include grid-container;

	@include grid-media($tablet-portrait-up) {
		@include grid-collapse($card-grid);

		.alcatraz-col--4 {
			@include grid-column(6, $card-grid);
		} // .alcatraz-col--4
	}

	@include grid-media($tablet-landscape-up) {
		@include grid-collapse($card-grid);

		.alcatraz-col--4 {
			@include grid-column(4, $card-grid);
		}
	}
}

//-----------------------------------------
// Grid One, Two
//
// Cards are 100% on phone (1-up), 2 columns
// on tablet-portrait-up.
//-----------------------------------------
.grid--one-two {
	@include grid-container;

	@include grid-media($tablet-portrait-up) {
		@include grid-collapse($card-grid);

		.alcatraz-col--6 {
			@include grid-column(6, $card-grid);
		}
	}
}


//-----------------------------------------
// Blog Grid
//-----------------------------------------
.blog-grid {
	@include grid-container;
	@include grid-collapse($card-grid);

	@include grid-media($tablet-landscape-up) {

		.alcatraz-col--4 {
			@include grid-column(4, $card-grid);
		}

		.alcatraz-col--8 {
			@include grid-column(8, $card-grid);
		}
	}
}
