//--------------------------------------------------------------
// GRID
//--------------------------------------------------------------

//-----------------------------------------
// Grid One, Two, Three
//
// Post cards are 100% on phone (1-up),
// 2 columns on tablet-portrait, and
// 3 columns on tablet-landscape.
//-----------------------------------------
.grid--one-two-three {
	@include grid-container;

	@include grid-media($tablet-portrait-up) {
		// Neat does some weird stuff where the contents appear to pad in 2 times the gutter. This corrects that.
		margin-left: -25px;
		margin-right: -25px;

		.alcatraz-col--4 {
			@include grid-column(6, $card-grid);
		} // .alcatraz-col--4
	}

	@include grid-media($tablet-landscape-up) {

		.alcatraz-col--4 {
			@include grid-column(4, $card-grid);
		}
	}
}

//-----------------------------------------
// Grid One, Two
//
// Cards are 100% on phone (1-up), 2 columns
// on tablet-portrait-up.
//-----------------------------------------
.grid--one-two {
	@include grid-container;

	@include grid-media($tablet-portrait-up) {
		// Neat does some weird stuff where the contents appear to pad in 2 times the gutter. This corrects that.
		margin-left: -25px;
		margin-right: -25px;

		.alcatraz-col--6,
		.alcatraz-col--4 {
			@include grid-column(6, $card-grid);
		}
	}
}
