//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------
.site-header {
	background-color: rgba(color(white), 0.9);
	padding: 20px;

	@include grid-media($tablet-portrait-up) {
		align-items: center;
		box-shadow: $box-shadow__card;
		display: flex;
		justify-content: space-between;
		
		.admin-bar & {
			top: 46px !important;
		}
	}

	@include grid-media($wp-admin-bar) {

		.admin-bar & {
			top: 32px !important;
		}
	}

	.home & {

		background-color: transparent;
		transition: background-color 0.3s ease-in-out;

		@include grid-media($tablet-portrait-up) {
			box-shadow: none;
		}
	}
}

.home .is-sticky .site-header {
	@include grid-media($tablet-portrait-up) {
		background-color: rgba(color(white), 0.9);
		box-shadow: $box-shadow__card;
	}
}

.sticky-wrapper {
	transition: height 0.3s ease-in-out;
}


//-----------------------------------------
// Site Logos
//-----------------------------------------
.logo,
.custom-logo {
	display: block;
	margin-bottom: 0;
}

.custom-logo {

	@media (max-width: 599px) {
		.has-mobile-logo & {
			display: none;
		}
	}

	@include grid-media($tablet-portrait-up) {
		.is-sticky & {
			display: none;
		}
	}
}

.logo-sticky {
	display: none;

	.is-sticky & {
		
		@include grid-media($tablet-portrait-up) {
			display: block;
			max-height: 50px;
		}
	}
}


//-----------------------------------------
// Site Title & Description
//-----------------------------------------
.logo-wrap {

	+ .site-title {
		@include hide-text;

		+ .site-description {
			@include hide-text;
		}
	}
}