//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------
.site-header {
    background-color: rgba($true-white, 0.9);
    border-bottom: 1px solid $razzmatazz;

    @include grid-media($tablet-portrait-up) {
        border-bottom-width: 2px;
    }
}