//--------------------------------------------------------------
// CARD -- PORTFOLIO
//--------------------------------------------------------------
.card--portfolio {
	text-align: center;

	.card__inner-wrap {
		position: relative;
	}

	.card__header {
		@include position(absolute, 50% null null 0);

		display: none;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;

		a {
			color: color(white);
		}
	}

	.card__title {
		color: color(white);
		line-height: 1;
		margin-bottom: 0;
	}

	.card__image {
		margin-bottom: rem(-20);
	}

	a,
	img {
		display: block;
		margin-bottom: 0;
	}

	.card__content {
		margin-top: 0;

		a {

			&:after {
				@include position(absolute, 0 0 0 0);

				content: '';
				display: block;
				transition: $transition__background-hover;
			}
		}
	}

	&:hover {
		
		.card__header {
			display: block;
		}

		a:after {
			background-color: color(razzmatazz);
		}
	}
} // .card--portfolio
