//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------
/* stylelint-disable no-descending-specificity */
.button,
button,
input[type='button'],
input[type='submit'] {
	border-radius: 3px;
	display: inline-block;
	font-family: $text__button;
	font-size: em(14);
	font-weight: 600;
	letter-spacing: em(0.75);
	line-height: 1.6;
	padding: em(10) em(20) em(6.5);
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
		color: color(white);
	}
}

a.button {
	transition: $transition__hover-color, $transition__hover-background;
}

.button {

	// Text Button
	&.button--text,
	&.button--text:visited {
		background-color: transparent;
		color: $color__body-text;
		padding: 0;

		&:hover {

			&.color {
				@include colors($theme-colors, color);
			}

			&:after {
				transform: translateX(3px);
			}
		}

		&:after {
			content: '\f0da';
			display: inline-block;
			font-family: $font-awesome;
			font-size: 1.1em;
			margin-left: rem(3);
			transition: transform 0.3s ease-in-out;
			vertical-align: baseline;
		}

		&.color {

			@each $name, $color in $theme-colors {

				&-#{$name}:after {
					color: $color;
				}
			}
		}
	}

	&.button--outline {
		background-color: transparent;
		border: 2px solid;
		border-radius: 3px;
		color: $color__body-text;

		&:hover {
			background-color: $color__body-text;
			border: 2px solid $color__body-text;
			color: color(white);
		}

		@each $name, $color in $theme-colors {

			&--#{$name} {
				border-color: $color;
				color: $color;

				&:hover {
					background-color: $color;
					border-color: $color;
				}
			}
		}
	}
}

//-----------------------------------------
// Search Form Button
//-----------------------------------------
.search-form {

	.search-submit {
		@include position(absolute, 0 0 0 null);

		background-color: color(razzmatazz);
		border: 0;
		color: color(white);

		&:hover {
			background-color: color(classic-rose);
		}
	}
}


//-------------------------------
// Search Toggle Button
//-------------------------------
.search-toggle {

	@include media(null, rem(899)) {
		display: none;
	}

	a,
	a:visited {
		color: color(razzmatazz) !important;

		&:hover {
			color: color(mine-shaft) !important;
		}
	}
}

//-------------------------------
// Menu Toggle
//-------------------------------
.menu-toggle {
	display: none;
}
