//--------------------------------------------------------------
// CATEGORY BADGE
//--------------------------------------------------------------
.category-badge {
	font-size: em(14);
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	z-index: 1;

	a {
		color: color(white);
		display: block;
		letter-spacing: em(1.25);
		line-height: 1.6;
		padding: em(5) em(10) em(8);
		text-decoration: none;

		&:hover {
			opacity: 0.8;
		}
	}

	//-----------------------------------------
	// Post Card
	//-----------------------------------------
	.card & {
		@include position(absolute, null null rem(-10) rem(10));
	}


	//-----------------------------------------
	// Post Hero
	//-----------------------------------------
	.post-hero & {
		@include position(absolute, null null rem(-10) rem(20));

		@include grid-media($tablet-portrait-up) {
			bottom: rem(-16);
			font-size: em(18);
			left: rem(40);
		}

		@include grid-media($desktop-up) {
			bottom: rem(-18);
			font-size: em(20);
			left: rem(60);
		}
	}
}


