//--------------------------------------------------------------
// HEROES
//--------------------------------------------------------------
.hero {
	@include size(100% 60vh);

	line-height: 1.5;
	position: relative;
	text-align: center;

	@include grid-media($tablet-portrait-up) {
		margin-top: -115px;
	}

	@include element(text) {
		@include position(absolute, 50% 0 null 0);

		margin: auto;
		padding: 0 rem(40);
		max-width: rem(500);
		transform: translateY(-50%);

		@include grid-media($tablet-portrait-up) {
			left: 33%;
			padding: 0;
			right: auto;
		}

		@include grid-media($tablet-landscape-up) {
			left: 45%;
		}

		@include grid-media($desktop-up) {
			font-size: 1.2em;
			left: 55%;
		}
	}

	@include element(title) {
		margin-bottom: 0;
	}

	@include element(description) {
		margin-bottom: 0;
	}

	//-----------------------------------------
	// Overrides
	//-----------------------------------------
	.single-wpcl-component & {
		margin-top: 0;
	}

	.home & {
		font-size: em(18);
		height: 100vh;
	}
}
