//--------------------------------------------------------------
// SPEAKING META
//--------------------------------------------------------------
.speaking-meta {
	border: 1px solid color(iron);
	font-size: em(16);
	margin-bottom: 1.5em;
	padding: rem(15);

	@include grid-media($tablet-landscape-up) {
		@include grid-column(4);

		float: right;
	}

	@include element(heading) {

		h3 {
			font-size: 1.25em;
			margin-bottom: 1.25em;
		}
	}

	h4 {
		font-size: 1.1em;
		margin-bottom: 0 !important;
		margin-top: 0 !important;
	}

	p {
		margin-bottom: 1em;
	}
}
