//--------------------------------------------------------------
// ENTRY HEADER
//--------------------------------------------------------------
.post-content {

	.entry-header {
		margin-bottom: 30px;

		.single-cf-portfolio & {
			margin-top: 2em;
		}
	}

	.entry-title {
		margin-bottom: 0;
	}

	.entry-meta {
		font-size: 0.8em;
		text-transform: uppercase;

		a {
			text-decoration: none;
		}
	}
}
