//--------------------------------------------------------------
// ENTRY FOOTER
//--------------------------------------------------------------

//-----------------------------------------
// Footnotes
//-----------------------------------------
.footnotes {
	margin-top: 2em;

	@include element(heading) {
		margin-bottom: 0.25em;
	}

	@include element(list) {
		font-size: 0.9em;
		margin-top: 0;
		padding-left: 20px;
	}
}
