//--------------------------------------------------------------
// FRONT PAGE
//--------------------------------------------------------------
.home {

	.content-area {
		padding-bottom: 0;
		padding-top: 0;
	}

	.hentry {
		margin-bottom: 0;
	}
}
