//--------------------------------------------------------------
// ENTRY CONTENT
//--------------------------------------------------------------
.post-content {

	.entry-content {

		//-----------------------------------------
		// Drop Cap
		//-----------------------------------------
		> p:first-of-type {

			&::first-letter {
				color: color(razzmatazz);
				display: block;
				float: left;
				font-family: $font__headings;
				font-size: 3.25em;
				line-height: 1;
				margin: rem(5) rem(5) rem(-6) 0;
			}
		}
	}

	//-----------------------------------------
	// Portfolio Images
	//-----------------------------------------
	.single-cf-portfolio & {

		img {
			box-shadow: $box-shadow__card;
		}
	}
}
