//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
}

input {
	border-radius: 0;
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	display: none;

	+ label {
		display: inline-block;
		padding-left: rem(25);
		line-height: rem(20);
		margin-right: rem(15);
		position: relative;

		&:before {
			@include position(absolute, null null null 0);
			@include size(rem(20));

			border: $border__forms;
			content: '';
			float: left;
		}
	}
}

input[type="checkbox"] {

	&:checked {
		
		+ label {

			&:before {
				content: '\f00c';
				color: color(razzmatazz);
				font-family: $font-awesome;
				font-size: em(24);
				line-height: 16px;
			}
		}
	}
}

input[type="radio"] {

	+ label {

		&:before {
			@include position(absolute, 0 0 0 0);
			
			border-radius: 50%;
			font-size: em(16);
			text-align: center;
		}
	}

	&:checked {

		+ label {

			&:before {
				background-color: color(razzmatazz);
			}
		}
	}
}


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	position: relative;

	.search-field {
		background-color: rgba(color(white), 0.7);
		width: 100%;
	}
}


//-------------------------------
// Navigation Search Form
//-------------------------------
.search-form {
	margin-top: rem(20);

	@include grid-media($tablet-landscape-up) {
		margin-top: auto;
		margin-left: rem(20);
		padding: 0;
		width: rem(300);

		.search-submit {
			line-height: rem(18);
		}
	}
}
