//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
}

input {
	border-radius: 0;
	display: block;
}


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	position: relative;

	.search-field {
		background-color: rgba(color(white), 0.7);
		width: 100%;
	}
}


//-------------------------------
// Navigation Search Form
//-------------------------------
.search-form {
	margin-top: rem(20);

	@include grid-media($tablet-landscape-up) {
		margin-top: auto;
		margin-left: rem(20);
		padding: 0;
		width: rem(300);

		.search-submit {
			line-height: rem(18);
		}
	}
}
