//--------------------------------------------------------------
// PRISM
//
// @author MoOx
//
// @link https://github.com/MoOx/sass-prism-theme-base/blob/master/_prism.scss
//--------------------------------------------------------------

// prism selector
$code-selector: "code[class*=\"language-\"], pre[class*=\"language-\"]";
$code-selector-block: "pre[class*=\"language-\"]";
$code-selector-inline: ":not(pre) > code[class*=\"language-\"]";

// generic stuff
$code-font-family: $font__code;

$code-tab-size: 4;
$code-hyphens: none;

$code-block-padding: 12px;
$code-inline-padding: 2px 6px;
$code-border-radius: 5px;

$code-border: 1px solid #e1e1e8;
$code-color: color(charcoal);
$code-color-fade: #bebec5;

@if $code-selector != null {
	#{$code-selector} {
		tab-size: $code-tab-size;

		hyphens: $code-hyphens;

		// whitespace management
		white-space: pre; // fallback
		white-space: pre-wrap;
		word-break: break-all;
		word-wrap: break-word;
		
		font-family: $code-font-family;

		color: $code-color;
	}
}

@if $code-selector-block != null {
	#{$code-selector-block} {
		padding: $code-block-padding;
	}
}

@if $code-selector-inline != null {
	#{$code-selector-inline} {
		padding: $code-inline-padding;
	}
}

// prism tokens
// 
$code-color-comment: color(french-gray);
$code-color-keyword: color(ocean-boat-blue);
$code-color-value: null;
$code-color-string: color(dark-pastel-green);
$code-color-name: null;
$code-color-number: color(honey-flower);
$code-color-variable: null;
$code-color-selector: null;
$code-color-punctuation: $code-color-fade;
$code-color-function: color(razzmatazz);
$color-color-property: color(honey-flower);

#{$code-selector} {
	background-color: color(white);

	.namespace {
		opacity: .7;
	}

	.token {

		&.comment {
			padding: 0;
		}

		&.comment,
		&.prolog,
		&.doctype,
		&.cdata {
			color: $code-color-comment;
		}

		&.function {
			color: $code-color-function;
		}

		&.null,
		&.operator,
		&.boolean,
		&.number {
			color: $code-color-number;
		}

		&.attr-name,
		&.string {
			color: $code-color-string;
		}

		&.entity,
		&.url,
		.language-css &.string,
		.style &.string {
			color: $code-color-string;
		}

		&.selector {
			color: $code-color-selector;
		}

		&.atrule,
		&.attr-value,
		&.keyword,
		&.control,
		&.directive,
		&.important,
		&.unit {
			color: $code-color-keyword;
		}

		&.regex,
		&.statement {
			color: $code-color-value;
		}

		&.placeholder,
		&.variable {
			color: $code-color-variable;
		}

		&.property,
		&.tag {
			color: $color-color-property;
		}

		&.important,
		&.statement {
			font-weight: bold;
		}

		&.punctuation {
			color: $code-color-punctuation;
		}

		&.entity {
			cursor: help;
		}

		// for dev :)
		&.debug { color: red }
	}
}
