//--------------------------------------------------------------
// BUTTONS
//--------------------------------------------------------------
.button,
button,
input[type='button'],
input[type='submit'],
.button-text {
	font-size: rem(14);
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase;
}

.button,
button,
input[type='button'],
input[type='submit'] {
	border: $button__border;
	line-height: 1;

	&:hover {
		color: $color__button-text-hover;
	}
}
