//--------------------------------------------------------------
// CATEGORY BADGE
//--------------------------------------------------------------
.category-badge {
	font-size: em(14);
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	z-index: 1;

	a {
		color: color(white);
		display: block;
		line-height: 1;
		padding: em(5) em(10) em(6);
		text-decoration: none;
	}

	//-----------------------------------------
	// Post Card
	//-----------------------------------------
	.card & {
		@include position(absolute, null null -10px 10px);
	}


	//-----------------------------------------
	// Post Hero
	//-----------------------------------------
	.post-hero & {
		@include position(absolute, null null -10px 20px);

		@include grid-media($tablet-portrait-up) {
			bottom: -16px;
			font-size: em(18);
			left: 40px;
		}

		@include grid-media($desktop-up) {
			bottom: -18px;
			font-size: em(20);
			left: 60px;
		}
	}
}


