//--------------------------------------------------------------
// CATEGORY BADGE
//--------------------------------------------------------------
.category-badge {
	font-size: $font__body-size - 4;
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	z-index: 1;

	a {
		color: color(white);
		line-height: 1;
		padding: 5px 10px;
		text-decoration: none;
	}

	//-----------------------------------------
	// Post Card
	//-----------------------------------------
	.post-card & {
		@include position(absolute, null null -10px 10px);
	}


	//-----------------------------------------
	// Post Hero
	//-----------------------------------------
	.post-hero & {
		@include position(absolute, null null -10px 20px);

		@include grid-media($tablet-portrait-up) {
			bottom: -16px;
			font-size: 1.1em; // font is 10% larger than body font.
			left: 40px;
		}

		@include grid-media($desktop-up) {
			bottom: -18px;
			font-size: 1.2em; // font is 20% larger than body font.
			left: 60px;
		}
	}
}


