//--------------------------------------------------------------
// CATEGORY BADGE
//--------------------------------------------------------------
.category-badge {
	font-size: $font__body-size - 4;
	font-weight: 600;
	letter-spacing: 0.025em;
	text-transform: uppercase;
	z-index: 1;

	a {
		color: $true-white;
		line-height: 1;
		padding: rem(5) rem(10);
		text-decoration: none;
	}

	//-----------------------------------------
	// Post Card
	//-----------------------------------------
	.post-card & {
		@include position(absolute, null null rem(-10) rem(10));
	}


	//-----------------------------------------
	// Post Hero
	//-----------------------------------------
	.post-hero & {
		@include position(absolute, null null rem(-10) rem(20));

		@include media($tablet-portrait-up) {
			bottom: rem(-16);
			font-size: 1.1em; // font is 10% larger than body font.
			left: rem(40);
		}

		@include media($desktop-up) {
			bottom: rem(-18);
			font-size: 1.2em; // font is 20% larger than body font.
			left: rem(60);
		}
	}
}


