//--------------------------------------------------------------
// COLORS
//
// Since BEM is the prefered methodology, I'm looking for
// modifiers with color names at the end of the class instead
// of using dedicated classnames.
//--------------------------------------------------------------


//-----------------------------------------
// Razzmatazz
//-----------------------------------------
[class$='--razzmatazz'] {
	color: $razzmatazz;
}

[class$='--razzmatazz-bg'] {
	background-color: $razzmatazz;
}


//-----------------------------------------
// Classic Rose
//-----------------------------------------
[class$='--classic-rose'] {
	color: $classic-rose;
}

[class$='--classic-rose-bg'] {
	background-color: $classic-rose;
}


//-----------------------------------------
// Charcoal
//-----------------------------------------
[class$='--charcoal'] {
	color: $charcoal;
}

[class$='--charcoal-bg'] {
	background-color: $charcoal;
}


//-----------------------------------------
// French Gray
//-----------------------------------------
[class$='--french-gray'] {
	color: $french-gray;
}

[class$='--french-gray-bg'] {
	background-color: $french-gray;
}


//-----------------------------------------
// Blue
//-----------------------------------------
[class$='--curious-blue'] {
	color: $curious-blue;
}

[class$='--curious-blue-bg'] {
	background-color: $curious-blue;
}

//-----------------------------------------
// Electric Lime
//-----------------------------------------
[class$='--lawn-green'] {
	color: $lawn-green;
}

[class$='--lawn-green-bg'] {
	background-color: $lawn-green;
}


//-----------------------------------------
// West Side
//-----------------------------------------
[class$='--tree-poppy'] {
	color: $tree-poppy;
}

[class$='--tree-poppy-bg'] {
	background-color: $tree-poppy;
}
