//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
}

input {
	border-radius: 0;
	display: block;
}


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	position: relative;

	.search-field {
		width: 100%;
	}
}


//-------------------------------
// Navigation Search Form
//-------------------------------

// The li for the site-search toggle.
.site-search {
	line-height: 1;
}

.navigation-search {
	display: none;
	padding: 0 20px 20px;
}
