//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
}

input {
	display: block;
}


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	position: relative;

	.search-field {
		width: 100%;
	}
}
