//--------------------------------------------------------------
// FORMS
//--------------------------------------------------------------
label {
	display: block;
	font-size: 0.9em;
	font-weight: 600;
}

input {
	border-radius: 0;
	display: block;
}


//-----------------------------------------
// Search Form
//-----------------------------------------
.search-form {
	position: relative;

	.search-field {
		background-color: rgba(color(white), 0.7);
		width: 100%;
	}
}


//-------------------------------
// Navigation Search Form
//-------------------------------

// The li for the site-search toggle.
.site-search {
	line-height: 1;
}

.navigation-search {
	height: 0;
	padding: 0 20px;
	overflow: hidden;
	transition: height 0.3s ease-in-out;

	@include grid-media($tablet-portrait-up) {
		height: auto;
		padding: 0;
		transition: width 0.3s ease-in-out, padding 0.3s ease-in-out;
		width: 0;
	}

	&.show {
		height: 58px;
		padding-bottom: 20px;

		@include grid-media($tablet-portrait-up) {
			@include size(320px auto);
			padding-bottom: 0;
		}
	}
}
