//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	font-family: $font__headings;
	letter-spacing: 0.0125em;
	line-height: $font__headings-line-height;
}
