//--------------------------------------------------------------
// COMPONENT - THREE COLUMN TEXT
//--------------------------------------------------------------
.component--three-column-text {
	text-align: center;

	h3 {
		margin-bottom: 0.25em;
	}

	.row {
		display: grid;
		grid-gap: rem(30);
		
		@include grid-media($tablet-landscape-up) {
			grid-template-columns: repeat(3, 1fr);
		}
	}
}
