//--------------------------------------------------------------
// CONTENT
//--------------------------------------------------------------
.boxed-content {

	article:not(.card) {

		&.post-content {
			@include grid-media($tablet-portrait-up) {
				font-size: $font__body-size-tablet;
			}
		}
	}
}

.site-content {
	@include clearfix;
	
	overflow: initial;
}

// Blog post date.
.posted-on {

	a {
		border-bottom: none !important;
	}
}


// Remove padding for content area.
.content-area {

	.single-post & {
		padding-bottom: 0;
	}

	.home & {
		padding-bottom: 0;
		padding-top: 0;
	}
}


// hentry.
.hentry {

	.home & {
		margin-bottom: 0;
	}
}

.page-footer {
	margin: rem(40);
	text-align: center;

	@include grid-media($tablet-portrait-up) {
		font-size: 1.5em;
		margin: rem(80) 0 rem(100);
	}
}
