//--------------------------------------------------------------
// HEADER
//--------------------------------------------------------------
.site-header {
	align-items: center;
	background-color: rgba(color(white), 0.9);
	display: flex;
	position: relative;
	z-index: 3;

	@include grid-media($tablet-portrait-up) {
		box-shadow: $box-shadow__card;
		justify-content: space-between;
	}

	.is-sticky & {
		top: auto !important;
	}
}

.sticky-wrapper {
	transition: height 0.3s ease-in-out;
}


//-----------------------------------------
// Site Logos
//-----------------------------------------
.logo,
.custom-logo {
	display: block;
	margin-bottom: 0;
}

.custom-logo {
	max-width: 100%;
	width: rem(250);

	@include grid-media($tablet-portrait-up) {
		.is-sticky & {
			display: none;
		}
	}
}

.logo-sticky {
	display: none;

	.is-sticky & {
		
		@include grid-media($tablet-portrait-up) {
			display: block;
			max-height: 50px;
		}
	}
}
