//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

//-------------------------------
// Color Palette
//-------------------------------
$theme-colors: (
	razzmatazz: #ed1c72,
	classic-rose: #eac5de,
	charcoal: #424143,
	french-gray: #bdbec0,
	mine-shaft: #323132,
	dim-gray: #686769,
	oslo-gray: #8d8b8f,
	iron: #d9d5dc,
	white-smoke: #eee,
	lightening-yellow: #ffc417,
	neon-carrot: #ff9a3d,
	honey-flower: #461775,
	ocean-boat-blue: #0075c4,
	dark-pastel-green: #04be51,
	white: #fff,
	black: #000,
);

$pink-cloud: linear-gradient(to top right, rgba(color(razzmatazz), 0.85) 25%, rgba(color(classic-rose), 0.85));


// Box Shadows
$box-shadow__card: 1px 1px 6px 0 rgba(color(mine-shaft), 0.15);

//-----------------------------------------
// Global Elements
//-----------------------------------------
// $color__body-background: color(white-smoke);


//-------------------------------
// Buttons
//-------------------------------
$color__button-background: color(razzmatazz);
$color__button-background-hover: tint(color(razzmatazz), 20%);
$color__button-border: color(razzmatazz);
$color__button-link: color(mine-shaft);
$color__button-text: color(white);
$color__button-text-hover: color(white);


//-------------------------------
// Forms
//-------------------------------
$color__checkbox-background-checked: color(french-gray);
$color__checkbox-text-checked: color(razzmatazz);
$color__radio-background-checked: color(razzmatazz);
$color__forms-border: color(iron);
$color__forms-border-focus: shade(color(iron), 20%);
$color__checkbox-border: color(iron);


//-------------------------------
// Typography
//-------------------------------
$color__body-text: color(charcoal);
$color__hr: color(iron);
$color__link: color(razzmatazz);
$color__link-hover: rgba(color(razzmatazz), 0.8);
$color__link-visited: color(razzmatazz);
$color__pre-border: color(iron);
$color__headings: color(mine-shaft);
$color__ins: rgba(color(lightening-yellow), 0.3);
$color__selection: rgba(color(razzmatazz), 0.4);


//-----------------------------------------
// Navigation
//-----------------------------------------
$color__toggle-background: color(razzmatazz);
$color__menu-sub-toggle: color(charcoal);
