//--------------------------------------------------------------
// FRONT PAGE
//--------------------------------------------------------------
.home {

	.content-area {
		padding-top: 0;
	}

	.newsletter-module {
		
		.h3 {
			color: color(white);
			
			@include grid-media($tablet-landscape-up) {
				flex: 0 0 33%;
				margin: rem(10) rem(20) 0 0;
			}
		}
	}
}
