//--------------------------------------------------------------
// SINGLE WPCL COMPONENT
//--------------------------------------------------------------
.single-wpcl-component {

	.site-content {
		overflow: visible;
	}
	
	.code-implementation {
		margin-top: rem(60);
	}

	.ui-state-default {
		
		a {
			color: color(charcoal);

			&:hover {
				border: none;
				color: color(classic-rose);
			}
		}
	}

	.ui-tabs-active {

		a {
			color: color(razzmatazz);
		}
	}
}
