//--------------------------------------------------------------
// MOBILE NAVIGATION
//--------------------------------------------------------------
.mobile-nav-style-slide-up {

	.main-navigation {

		@media (max-width: 600px) {
			@include position(fixed, null 0 0 0);

			background-color: $razzmatazz;
			display: flex;
			font-size: 2em;
			font-weight: 600;
			flex-direction: column;
			justify-content: center;
			height: 36px;
			overflow: hidden;
			text-align: center;
		}
	}

	&.menu-open {

		.main-navigation {
			height: 100vh;
		}
	}
}


//-------------------------------
// Menu Items
//-------------------------------
.primary-menu .menu-item {

	> a {
		color: $true-white;

		&:hover {
			color: $classic-rose;
		}
	}
}
