//--------------------------------------------------------------
// MOBILE NAVIGATION
//--------------------------------------------------------------
.main-navigation {
	@include position(fixed, null 0 0 0);

	background-color: rgba($true-white, 0.9);
	border-top: 1px solid $razzmatazz;
	z-index: 3;

	@include grid-media($tablet-portrait-up) {
		@include position(relative, null auto auto auto);

		background-color: transparent;
		border-top: 0;
	}
}

.primary-menu {
	align-items: center;
	display: flex;
	font-size: 0.875em; // ~ 14px
	justify-content: space-between;
	text-transform: uppercase;
}