//--------------------------------------------------------------
// MOBILE NAVIGATION
//--------------------------------------------------------------
.mobile-nav-style-sticky-bottom {

	.main-navigation {
		@include position(fixed, null 0 0 0);

		background-color: rgba($true-white, 0.9);
		border-top: 1px solid $razzmatazz;
	}

	.primary-menu {
		align-items: center;
		display: flex;
		font-size: 0.875em; // ~ 14px
		justify-content: space-between;
		text-transform: uppercase;
	}
}
