//--------------------------------------------------------------
// MOBILE NAVIGATION
//--------------------------------------------------------------
.main-navigation {
	@include position(fixed, null 0 0 0);

	background-color: rgba($true-white, 0.9);
	border-top: 2px solid $razzmatazz;
	z-index: 3;

	@include grid-media($tablet-portrait-up) {
		@include position(relative, null auto auto auto);

		align-items: center;
		background-color: transparent;
		display: flex;
		border-top: 0;
	}
}

.primary-menu {
	align-items: center;
	display: flex;
	font-size: 0.875em; // ~ 14px
	justify-content: space-between;
	text-transform: uppercase;

	@include grid-media($tablet-portrait-up) {
		padding: 0 20px;
	}

	.menu-item > a {
		color: $charcoal;
		font-weight: 600;
		
		&:hover {
			color: $razzmatazz;
		}
	}
}