//--------------------------------------------------------------
// POST NAVIGATION
//--------------------------------------------------------------
.post-navigation {
	border-bottom: 5px solid $charcoal;
	border-top: 2px solid $charcoal;
	margin: 0 auto;
	max-width: 640px;
	padding-bottom: 30px;
	padding-top: 30px;

	// Single Portfolio.
	.single-cf-portfolio & {
		max-width: 100%;
	}

	@include element(span) {
		color: $oslo-gray;
		display: block;
		font-size: 0.8em;
		text-transform: uppercase;
	}

	// This helps ensure the dividing border is always the height of the tallest item.
	.nav-links {
		display: flex;
	}

	.nav-previous,
	.nav-next {

		a {
			color: $mine-shaft;
			font-weight: 600;
			text-decoration: none;

			&:before {
				@include size(30px);

				content: '';
				display: block;
				background: url('images/icon-chevron.svg') center no-repeat;
				background-size: contain;
				margin-top: 10px;
				transition: transform 0.2s ease-in-out;
			}
		}
	}

	.font-assistant {
		font-size: 1.25em;
		overflow: hidden;
		padding: 0 10px;

		&:hover {
			color: $razzmatazz;
		}
	}

	.nav-previous {

		+ .nav-next {
			border-left: 1px solid rgba($french-gray, 0.3);
		}
	}

	.nav-next {
		margin-left: auto; // push to the right when previous post doesn't exist.
	}

	.nav-previous a {

		&:before {
			float: left;
			transform: rotate(180deg);
		}

		&:hover {

			&:before {
				transform: rotate(180deg) translateX(3px);
			}
		}
	}

	.nav-next a {

		&:before {
			float: right;
		}

		&:hover {
			&:before {
				transform: translateX(3px);
			}
		}
	}
}
