//--------------------------------------------------------------
// PORTFOLIO CARD
//--------------------------------------------------------------
.portfolio-card {
	font-size: 0.9em;
	text-align: center;

	&.hentry {
		margin-bottom: rem(25);
	}

	@include element(inner-wrap) {
		box-shadow: $box-shadow__card;
		position: relative;
	}

	@include element(header) {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;

		a {
			color: color(white);
			text-decoration: none;
		}
	}

	@include element(title) {
		color: color(white);
		line-height: 1;
		margin-bottom: 0;
	}

	@include element(image) {

		a,
		img {
			display: block;
			margin-bottom: 0;
		}

		a {

			&:after {
				@include position(absolute, 0 0 0 0);

				content: '';
				display: block;
				transition: $transition__background-hover;
			}
		}
	}

	&:hover {

		.portfolio-card__header {
			display: block;
			transition: $transition__background-hover;
		}

		a:after {
			background-color: color(razzmatazz);
		}
	}
}
