//--------------------------------------------------------------
// POST CARD
//--------------------------------------------------------------
.post-card {
	background-color: color(white);
	font-size: 0.9em;
	max-width: 600px;

	&.hentry {
		margin-bottom: rem(25);

		&:first-of-type {
			margin-bottom: rem(25);
		}
	}

	// An inner wrap is needed for the posts grid layout. Otherwise, without the padding, the posts will break across columns.
	@include element(inner-wrap) {
		box-shadow: $box-shadow__card;
		padding: 20px;
	}

	@include element(image) {
		margin: -20px -20px 18px;
		position: relative;

		img {
			display: block;
		}
	}

	@include element(title) {
		margin-bottom: 0.25em;

		a {
			color: $color__headings;
			text-decoration: none;

			&:hover {
				color: tint($color__headings, 20%);
			}
		}
	}

	@include element(content) {

		p {
			margin-bottom: 0.75em;
		}
	}


	//-----------------------------------------
	// Sticky Post
	//-----------------------------------------
	@include modifier(sticky) {
		box-shadow: $box-shadow__card;
		max-width: 100%;
		padding: 20px;

		@include grid-media($tablet-portrait-up) {
			display: flex;
			justify-content: space-between;
			position: relative;

			@include element(image) {
				align-items: center;
				position: initial;
				justify-content: center;
				margin: -20px;
				overflow: hidden;
				width: 50%;

				img {
					max-width: 650px;
				}
			}

			@include element(content-wrap) {
				display: flex;
				flex-direction: column;
				width: 50%;
			}

			@include element(footer) {
				margin-top: auto; // this will push the button to the bottom of the container.
			}
		}

		@media (min-width: 725px) {
			max-height: 350px;

			@include element(image) {
				width: 40%;
			}

			@include element(content-wrap) {
				width: 60%;
			}
		}
	}
} // .post-card
