//--------------------------------------------------------------
// COLORS
//--------------------------------------------------------------

//-------------------------------
// Color Palette
//-------------------------------

// Brand colors.
$razzmatazz: #ed1c72;
$classic-rose: #eac5de;
$charcoal: #424143;
$french-gray: #bdbec0;
$pink-cloud: linear-gradient(to top right, rgba($razzmatazz, 0.85) 25%, rgba($classic-rose, 0.85));

// Neutral colors.
$mine-shaft: #323132;
$dim-gray: #686769;
$oslo-gray: #8d8b8f;
$iron: #d9d5dc;

// Accent colors.
$blue: #0d10f7;
$dark-violet: #900ad6;
$electric-lime: #1ced26;
$sinopia: #d63e0f;
$west-side: #f78911;

// Accent Gradients
$mystic: linear-gradient(to top right, rgba($razzmatazz, 0.85) 25%, rgba($dark-violet, 0.85));
$cotton-candy: linear-gradient(to top right, rgba($razzmatazz, 0.85) 25%, rgba($blue, 0.85));
$sunset: linear-gradient(to top right, rgba($razzmatazz, 0.85) 25%, rgba($west-side, 0.85));
$pink-cloud-solid: linear-gradient(to top right, rgba($razzmatazz, 1) 25%, rgba($classic-rose, 1));


// Box Shadows
$box-shadow__portfolio-card: 0px 3px 7px 0px rgba($mine-shaft, 0.3);


//-------------------------------
// Buttons
//-------------------------------
$color__button-background: transparent;
$color__button-background-hover: $razzmatazz;
$color__button-border: $razzmatazz;
$color__button-link: $mine-shaft;
$color__button-text: $razzmatazz;
$color__button-text-hover: $true-white;


//-------------------------------
// Forms
//-------------------------------
$color__checkbox-background-checked: $french-gray;
$color__checkbox-text-checked: $razzmatazz;
$color__radio-background-checked: $razzmatazz;
$color__forms-border: $iron;
$color__forms-border-focus: shade($iron, 20%);
$color__checkbox-border: $iron;


//-------------------------------
// Typography
//-------------------------------
$color__body-text: $charcoal;
$color__hr: $iron;
$color__link: $razzmatazz;
$color__link-hover: tint($razzmatazz, 30%);
$color__link-visited: shade($razzmatazz, 10%);
$color__pre-border: $iron;
$color__headings: $mine-shaft;
