//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

// Font Palette
$skolar: 'skolar-sans-latin', sans-serif;
$fira-sans: 'Fira Sans', sans-serif;
$fira-mono: 'Fira Mono', monospace;
$font-awesome: FontAwesome;

//-------------------------------
// Buttons
//-------------------------------
$text__button: $fira-sans;


//-------------------------------
// Typography
//-------------------------------
$font__body: $skolar;
$font__body-line-height: 1.65;
$font__body-weight: 300;
$font__headings: $fira-sans;
$font__headings-line-height: 1.2;
$font__code: $fira-mono;

// Font Sizes
$font__body-size: em(18);
