//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

// Font Palette
$assistant: 'Assistant', sans-serif;
$freight-display-pro: 'freight-display-pro', serif;
$source-code-pro: 'Source Code Pro', Courier, monospace;


//-------------------------------
// Buttons
//-------------------------------
$text__button: $assistant;


//-------------------------------
// Typography
//-------------------------------
$font__body: $assistant;
