//--------------------------------------------------------------
// TYPOGRAPHY
//--------------------------------------------------------------

// Font Palette
$assistant: 'Assistant', sans-serif;
$freight-display-pro: 'freight-display-pro', serif;
$inconsolata: 'Inconsolata', monospace;


//-------------------------------
// Buttons
//-------------------------------
$text__button: $assistant;


//-------------------------------
// Typography
//-------------------------------
$font__body: $assistant;
$font__body-line-height: 1.65;
$font__headings: $freight-display-pro;
$font__code: $inconsolata;
