//--------------------------------------------------------------
// COMMENTS
//--------------------------------------------------------------
.comments-area {
	margin: 40px auto 0;
	max-width: 640px;
}

// When there are already comments.
.comment-list {
	padding: 0;

	> .comment {

		+ .comment {
			border-top: 3px solid rgba($french-gray, 0.3);
		}
	}
}

.comment-list,
.comment-list .children {
	list-style: none;
	margin: 0;
}

.children {
	padding-left: 0;
}

.comment {
	padding: 20px;
}

// The name of the commenter and their avatar.
.comment-meta {
	margin-bottom: 20px;
	position: relative;

	.avatar {
		margin-right: 10px;
	}
}

.comment-metadata {
	@include position(absolute, null null 0 87px);

	display: none;

	@include grid-media($tablet-portrait-up) {
		display: block;
	}
}

// The content of the comment.
.comment-body {
	margin-bottom: 10px;
}

// The area where the comment is actually entered.
.comment-form {

	input[type='text'],
	input[type='email'],
	input[type='url'],
	textarea {
		background-color: $true-white;
		width: 100%;
	}
}

.required {
	color: $razzmatazz;
}
