//--------------------------------------------------------------
// HEROES
//--------------------------------------------------------------
.hero {
	position: relative;

	@include grid-media($tablet-portrait-up) {
		margin-top: -115px;
		z-index: -2;
	}
}


//-----------------------------------------
// Hero ACF
//-----------------------------------------
.hero-acf {
	@include size(100% 60vh);

	line-height: 1.5;
	position: relative;
	text-align: center;

	&:after {
		@include position(absolute, 0 0 0 0);

		background-color: rgba(color(white), 0.2);
		content: '';
	}


	@include element(text) {
		@include position(absolute, 50% null null 45%);

		font-size: 0.8em;
		transform: translateY(-50%);
		width: 45%;
		z-index: 3;

		@media (max-width: 600px) {
			display: none;
		}

		@include grid-media($tablet-landscape-up) {
			font-size: initial;
		}

		@include grid-media($desktop-up) {
			font-size: 1.2em;
		}
	}

	@include element(title) {
		margin-bottom: 0;
	}
}
