//--------------------------------------------------------------
// PORTFOLIO CARD
//--------------------------------------------------------------
.portfolio-card {
	box-shadow: $box-shadow__card;
	font-size: $font__body-size - 2;
	position: relative;
	text-align: center;

	@include element(header) {
		display: none;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		width: 100%;
		z-index: 1;

		a {
			color: $true-white;
			text-decoration: none;
		}
	}

	@include element(title) {
		color: $true-white;
		line-height: 1;
		margin-bottom: 0;
	}

	@include element(image) {

		a,
		img {
			display: block;
		}

		a {
			&:after {
				@include position(absolute, 0 0 0 0);

				content: '';
				display: block;
				transition: $transition__hover;
			}
		}
	}

	&:hover {

		.portfolio-card__header {
			display: block;
			transition: $transition__hover;
		}

		a:after {
			background-color: $razzmatazz;
		}
	}
}
