//--------------------------------------------------------------
// POST CARD
//--------------------------------------------------------------
.post-card {
	box-shadow: $box-shadow__card;
	font-size: $font__body-size - 2;
	padding: rem(20);

	@include element(image) {
		margin: rem(-20) rem(-20) rem(18);
		position: relative;

		img {
			display: block;
		}
	}

	@include element(title) {
		margin-bottom: 0.25em;

		a {
			color: $color__headings;
			text-decoration: none;

			&:hover {
				color: tint($color__headings, 20%);
			}
		}
	}

	@include element(content) {

		p {
			margin-bottom: 0.75em;
		}
	}

	.category-badge {
		@include position(absolute, null null rem(-10) rem(10));
	}


	//-----------------------------------------
	// Sticky Post
	//-----------------------------------------
	@include modifier(sticky) {

		@include media($tablet-portrait-up) {
			display: flex;
			justify-content: space-between;
			position: relative;

			@include element(image) {
				position: initial;
				width: 50%;
			}

			@include element(inner-wrap) {
				display: flex;
				flex-direction: column;
				width: 50%;
			}

			@include element(footer) {
				margin-top: auto; // this will push the button to the bottom of the container.
			}
		}

		@include media(em(725)) {

			@include element(image) {
				width: 33%;
			}

			@include element(inner-wrap) {
				width: 67%;
			}
		}
	}
} // .post-card
