//--------------------------------------------------------------
// POST CARD
//--------------------------------------------------------------
.post-card {
	font-size: $font__body-size - 2;

	@include element(image) {
		margin-bottom: rem(18);
		position: relative;

		img {
			display: block;
		}
	}

	@include element(category) {
		@include position(absolute, null null rem(-10) rem(10));

		background-color: $razzmatazz;
		font-size: $font__body-size - 4;
		font-weight: 600;
		letter-spacing: 0.025em;
		text-transform: uppercase;
		z-index: 1;

		a {
			color: $true-white;
			line-height: 1;
			padding: rem(5) rem(10);
			text-decoration: none;
		}
	}

	@include element(title) {
		margin-bottom: 0.25em;

		a {
			color: $color__headings;
			text-decoration: none;

			&:hover {
				color: tint($color__headings, 10%);
			}
		}
	}

	@include element(content) {

		p {
			margin-bottom: 0.75em;
		}
	}
} // .post-card
