//--------------------------------------------------------------
// POST CARD
//--------------------------------------------------------------
.post-card {
	font-size: $font__body-size - 2;

	@include element(image) {
		margin-bottom: rem(18);
		position: relative;

		img {
			display: block;
		}
	}

	@include element(title) {
		margin-bottom: 0.25em;

		a {
			color: $color__headings;
			text-decoration: none;

			&:hover {
				color: tint($color__headings, 10%);
			}
		}
	}

	@include element(content) {

		p {
			margin-bottom: 0.75em;
		}
	}

	.category-badge {
		@include position(absolute, null null rem(-10) rem(10));
	}
} // .post-card
